body{
    background-color: #f4f4f4;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 14px;
}

.container{
    width: 50%;
    margin: auto;
    padding: 1%;
    overflow: hidden;
    border: 1px solid #ccc;
}